//colours
$primary:#FE5F1E;
$primary-hover:#b23301;
$secondary:#F8F8F8;
$pure:#fff;
$dark:#000000ee;
$grey:#ccc;
$yellow:#ecbd47;
$yellow-hover:#e9de47;
$green:#011909;
$green2:#125729;
$white:#ffffff;
//transiton
$smooth:all .3s ease-in-out;